.wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.wrapper section,
.wrapper section img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.wrapper section p {
    width: 80%;
    margin: 0 auto;
}

#portfolio {
    margin-top: 40px;
}
